html,
body {
    margin: 0;
    padding: 0;
}
body {
	font: normal 16px/30px "Roboto", "Arial", serif;
	color: #000000;
	
}
h1 {
	font: bold 55px/55px "Roboto", "Arial", serif;
	margin: 0;
	padding: 80px 0 20px 0;
}
h2 {
	font: bold 24px/30px "Roboto", "Arial", serif;
	margin: 0;
	padding: 0 0 13px 0;
	text-transform: uppercase;
}
h3 {
	font: bold 16px/24px "Roboto", "Arial", serif;
	margin: 0;
	padding: 0;
	text-transform: uppercase;
}

.container {
	width: 1160px;
	margin: 0 auto;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
  /*height: 20px;
  background-color: white;
  background-image: linear-gradient(-45deg, white 45%, black 50%, white 55%);
  background-size: 20px;*/
}

/*HEADER*/

.page-header {
	margin: 0 auto;
	padding: 0;
	background-color: #eeeeee;
	margin: 0 0 80px 0;
}

.content-header {
	width: 1160px;
	margin: 0 0 0px 0;
	padding: 0;

}

.logo {
	width: 160px;
	height: 65px;
	float: left;
	margin: 50px 200px 0 0;
}

.main-menu {
	width: 491px;
	float: left;
	margin: 0;
	padding: 0;
	
}

.menu {
	margin: 75px 0 0 0;
	padding: 0;
	font: normal 16px/30px "Roboto", "Arial", serif;
}

.menu li {
    display: inline-block;
    list-style: none;
    padding: 0 45px 0 0;   /*надо 45px*/
}

.menu a {
	color: #000000;
	text-decoration: none;
	text-transform: uppercase;
}

.menu-item a{
	margin: 0;
	padding: 0;

}

.basket {
	width: 150px;
	float: right;
	margin: 75px 0 0 0;
}

.basket-btn {
	color: #000000;
	text-decoration: none;
	text-transform: uppercase;
	padding: 0 0 0 75px;
}

/*.slider-info {
	width: 1160px;
	height: 100%
    margin: 0px;
    padding: 0px;
 }*/

.info {
	width: 380px;
	margin: 0;
	padding: 0 0 0 0;
	float: left;
}

.info-item {
	display: none;
}

.info-text {
	margin: 0;
	padding: 0 0 32px 0;
 }

.btn-color a {
	display: block;
	width: 240px;
	height: 50px;
	margin: 0 0 70px 0;
	padding: 0;
	background-color: #fb565a;
	color: #ffffff;
	text-decoration: none;
	text-align: center;
	vertical-align: middle;
	text-transform: uppercase;
}

.slider {
	width: 760px;
    float: right;
	margin: 0;
	padding: 0 0 0 0;
	height: 431px;
	background: url("../img/slider_1.jpg") no-repeat right center;
}



/*MAIN*/

main.page-main {
	margin: 0;
}

.picture-price {
	width: 1140px;
	margin: 0px 0 0px 0;
	border-bottom: 2px solid #eeeeee;
}

img {
	padding: 0 0 16px 0;
	margin: 0;
	
}

.price {
	width: 300px;
	margin: 0;
	padding: 0;
	float: left;
	margin: 0 100px 0 0;
}

.word {
	margin: 0;
	padding: 0 0 23px 0;

}

.btn-red,
.btn-green,
.btn-yellow {
	display: block;
	width: 160px;
	height: 52px;
	margin: 0 0 80px 0;
	padding: 0;
	color: #ffffff;
	text-decoration: none;
	text-align: center;
	vertical-align: middle;
	text-transform: uppercase;
}

.btn-red { 
	background-color: #fb565a; 
}

.btn-green {
    background-color: #00ca74;
}

.btn-yellow {
    background-color: #efc84a;
}

.price:last-child {
	margin-right: 0;

}

.content-column {
	margin: 0px 0 61px 0;;
	padding: 0;
	
}
.column-left {
	width: 660px;
	float: left;
	margin: 73px 0 0px 0;
	padding: 0;
}

p.caption {
	font: bold 45px/45px "Roboto", "Arial", serif;
	margin: 0;
	padding: 0 0 32px 0;
}

.development li,
.left {
    font: normal 16px/24px "Roboto", "Arial", serif;
    margin: 0;
	padding: 0;
}

.left {
	padding: 0 0 39px 0;
}
.development li{
	list-style: none;
}

.development li::before {
	content: " - ";
	position: relative;
	color: red;
}

.column-right {
	width: 360px;
	float: right;
	margin: 40px 0 0px 0;
	padding: 0;
}

.logo-color {
	 margin: 0;
	 padding: 0 0 69px 0;
}

p.tagline {
	font: bold 16px/24px "Roboto", "Arial", serif;
	text-transform: uppercase;
	margin: 9px 0 -10px 0;
	text-align: center;

}
.call-item {
	width: 110px;
	display: inline-block;
}
.call {
	font: bold 45px/10px "Roboto", "Arial", serif;
	margin: 0;
	padding: 0 0 16px 0;

}

span {
     font: normal 16px/18px "Roboto", "Arial", serif;
     margin: 0;
	padding: 0;
}

div.call {
	width: 100px;
	display: inline-block;
	margin-right: 20px;
}

div.call:last-child {
	margin-right: 0;
}

.page-article {
	padding: 0;
	margin: 0 0 80px 0;
}

.block-image {
	margin: 0;
	padding: 44px 44px 23px 30px;
	border-top: 2px solid #eeeeee;
	border-bottom: 2px solid #eeeeee;
}

.image {
	width: 210px;
	display: inline-block;
	vertical-align: middle;
    padding: 0 78px 0 0;
}

.image:last-child {
	padding: 0;
}

/*FOOTER*/

.page-footer {
	margin: 70px 0 0 0;
	padding: 0 0 65px 0;
	
}

.footer-social {
	width: 290px;
	float: left;
	padding: 0 125px 0 0;

}

.footer-slogan {
	width:575px; 
	float: left;

}

p.slogan {
	font: bold 35px/36px "Roboto", "Arial", serif;
}

p.slogan-mini {
	font: normal 16px/22px "Roboto", "Arial", serif;
}
