html,
body {
    margin: 0;
    padding: 0;
}

body {
	font: bold 16px/30px "Roboto", "Arial", serif;
	color: #000000;
}

h1 {
	font: bold 55px/55px "Roboto", "Arial", serif;
	margin: 0 auto;
	padding: 78px 0 108px 218px;
}

h2 {
	font: bold 24px/30px "Roboto", "Arial", serif;
	margin: 0;
	padding: 0;
}

h3 {
	font: bold 18px/30px "Roboto", "Arial", serif;
	margin: 0;
	padding: 0;
}

.container {
	width: 1160px;
	margin: 0 auto;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
  
  /*height: 20px;
  background-color: white;
  background-image: linear-gradient(-45deg, white 45%, black 50%, white 55%);
  background-size: 20px;*/
}

/*HEADER*/

.page-header {
	padding: 0;
	background-color: #eeeeee;
	margin: 0 0 80px 0;
}

.content-header {
	width: 1160px;
	margin: 0 0 0px 0;
	padding: 0;

}

.logo {
	position: relative;
	width: 160px;
	height: 65px;
	float: left;
	margin: 50px 200px 0 0;
}

.logo a {
	position: absolute;
	background-image: url("../img/logo-sprite.png");
    background-repeat: no-repeat;
    display: block;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 161px;
    height: 65px;
    background-position: -10px -10px;
}

.logo a:hover {
	background-image: url("../img/logo-sprite.png");
	width: 161px;
    height: 65px;
    background-position: -10px -95px;
    opacity: 0.8;

}

.logo a:active {
	background-image: url("../img/logo-sprite.png");
	width: 161px;
    height: 65px;
    background-position: -10px -444px;
	opacity: 0.3;
}

.main-menu {
	width: 491px;
	float: left;
	margin: 0;
	padding: 0;
}

.menu {
	margin: 75px 0 0 0;
	padding: 0;
	font: normal 16px/30px "Roboto", "Arial", serif;
}

.menu li {
    display: inline-block;
    list-style: none;
    margin: 0 43px 0 0;   /*надо 45px*/
}

.menu a {
	color: #000000;
	text-decoration: none;
	text-transform: uppercase;
	padding: 0;
}

.menu-item a{
	margin: 0;
	padding: 0;
}

.menu a:hover {
	color: #cbcbcb;
	
}

.menu a:active {
	color: #fb565a;
}

.basket {
	width: 150px;
	float: right;
	margin: 75px 0 0 0;
}

.basket-btn {
	color: #000000;
	text-decoration: none;
	text-transform: uppercase;
	padding: 0 0 0 76px;
}

/*MAIN*/ 

.page-main {
	padding: 0;
	margin: 0 0 60px 0;
}
}

section.choice-form {
	width: 260px;
	margin: 0;
	padding: 0;
}

form {
	width: 260px;
	height: 800px;
	float: left;
	margin: 0;
	padding: 0;
}

.range,
.variations-meshes,
.features {
	width: 260px;
	margin: 0;
	padding: 0;
}

input[type="radio"] {
    display: block;
   
}

input[type="checkbox"] {
    display: block;
    padding: 10px 0 0 0;
}

.btn {
	width: 260px;
	font: normal 18px/30px "Roboto", "Arial", serif;
	text-transform: uppercase;
	padding: 0 0 20px 0;    
}

/*Правая часть с сайтами*/
.template-selection {
	width: 760px;
	float: right;
	margin: 0;
	padding: 0;
}

.selection,
.template {
	width: 360px;
	margin: 0;
	padding: 0;
}

.template-menu {
	margin: 0;
	padding: 0;

}

.template-menu ul {
	margin: 0;
	padding: 0;

}
.sort-menu {
	margin: 0;
	padding: 0;
	font: normal 14px/18px "Roboto", "Arial", serif;

}

.sort-menu li {
    display: inline-block;
    list-style: none;
    margin: 0;
	padding: 0;
}

.selection-item  {
	font: normal 16px/18px "Roboto", "Arial", serif;
	color: #666666;
	 margin: 0;
	padding: 0;
}

.price,
.sort,
li a {
	text-transform: uppercase;
}

.sort {
	font: bold 18px/18px "Roboto", "Arial", serif;
	margin: 0;
	padding: 0;
}
li a {
	padding-right: 17px;
	color: #b2b2b2;
	text-decoration: none;
}

li a:hover {
	color: #000000;
}

.template-menu ul li {
	display: inline-block;
}

..template-img {
	width: 360px;
	margin: 0;
	padding: 0;
}

.template-img img {
	width: 360px;
	height: 100%;
	margin: 0;
	padding: 0;
}

.template-left {
	width: 360px;
	margin: 0;
	padding: 0;
	float: left;
}

.template-right {
	width: 360px;
	margin: 0;
	padding: 0;
	float: right;
}

.interactive-map {
    margin: 0 0 0 0 ;
    padding: 0;
}

.map-form {
	position: relative;
}

.form-write {
     width: 320px;
     height: 310px;
     background-color: #ffffff;
     position: absolute;
     top: 50px;
     left: 140px;
     text-align: center;
     padding: 0;
}

.head {
	 font: normal 18px/30px "Roboto", "Arial", "Sans Serif";
	 text-transform: uppercase;
}

.address {
	font: normal 16px/18px "Roboto", "Arial", "Sans Serif";

}

.btn {
	display: block;
	width: 220px;
	height: 50px;
	margin: 50px 0 70px 45px;
	padding: 0;
	background-color: #fb565a;
	color: #ffffff;
	text-decoration: none;
	text-align: center;
	vertical-align: middle;
	text-transform: uppercase;
   
}

a.btn:hover {
	background-color: #e74246;
}

a.btn:active{
	background-color: #d7373b;
	color: #e48789;
}

/*FOOTER*/

.page-footer {
	margin: 70px 0 0 0;
	margin: 0 0 65px 0;
	
}

.footer-social {
	width: 365px;
	height: 100px;
	margin: 0;
	float: left;
}

.social-btn {
	display: inline-block;
	vertical-align: top;
	font-size: 0;
	width: 80px;
    height: 80px;
    vertical-align: middle;
	border-radius: 50px;
	background-color: #e1e1e1;
	background-position: no-repeat;
	position: relative;
	margin: 20px 10px 70px 0;
}

.social-btn::before {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-image: url("../img/sprite.png");
	background-repeat: no-repeat;
    width: 80px
	height: 80px;
	border-radius: 50px;
}

.social-vk::before {
	width: 26px;
    height: 15px;
    background-position: -10px -366px;
}

.social-vk:hover {
	background-color: #e74246;
}

.social-vk:activ {
  /*  background-color: rgba(215, 55, 59 0.8);
	/*opacity: 0.8;*/*/
}

.social-fb::before {
	width: 12px;
    height: 22px;
    background-position: -10px -283px;
}

.social-fb:hover {
	background-color: #e74246;
}

.social-fb:activ {

}

.social-inst::before {
	width: 21px;
    height: 21px;
    background-position: -10px -325px;
 }

.social-inst:hover {
	background-color: #e74246;
}

.social-inst:activ {

}

.footer-slogan {
	width:575px; 
	float: right;
	margin: 26px 180px 0 0;
}

.slogan {
	font: bold 35px/36px "Roboto", "Arial", "Sans Serif";
	margin: 0;
}

.slogan-mini {
	font: normal 16px/22px "Roboto", "Arial", "Sans Serif";
	margin: 10px 0 0 0;
}