html,
body {
    margin: 0;
    padding: 0;
}

body {
	font-size: 16px;
	font-weight: normal;
	line-height: 24px;
	font-family: "Roboto", "Arial", "sans-serif";
	position: relative;
}

/*logo-sprite*/

.sprite {
    background-image: url("../img/logo-sprite.png");
    background-repeat: no-repeat;
    display: block;
}

.sprite-logo-1 {
    width: 161px;
    height: 65px;
    background-position: -10px -10px;
}

.sprite-logo-2 {
    width: 161px;
    height: 65px;
    background-position: -10px -95px;
}

.sprite-logo-2-1 {
    width: 199px;
    height: 68px;
    background-position: -10px -180px;
}

.sprite-logo-2-2 {
    width: 199px;
    height: 68px;
    background-position: -10px -268px;
}

.sprite-logo-2-3 {
    width: 199px;
    height: 68px;
    background-position: -10px -356px;
}

.sprite-logo-3 {
    width: 161px;
    height: 65px;
    background-position: -10px -444px;
}

.sprite-logo-3-1 {
    width: 209px;
    height: 87px;
    background-position: -10px -529px;
}

.sprite-logo-3-2 {
    width: 209px;
    height: 90px;
    background-position: -10px -636px;
}

.sprite-logo-3-3 {
    width: 209px;
    height: 87px;
    background-position: -10px -746px;
}

.sprite-logo-4-1 {
    width: 185px;
    height: 52px;
    background-position: -10px -853px;
}

.sprite-logo-4-2 {
    width: 185px;
    height: 52px;
    background-position: -10px -925px;
}

.sprite-logo-4-3 {
    width: 185px;
    height: 52px;
    background-position: -10px -997px;
}

.sprite-logo-5-2 {
    width: 173px;
    height: 84px;
    background-position: -10px -1069px;
}

.sprite-logo-5-3 {
    width: 173px;
    height: 84px;
    background-position: -10px -1173px;
}

.sprite-logo5-1 {
    width: 173px;
    height: 84px;
    background-position: -10px -1277px;
}

h1 {
	font-size: 55px;
	font-weight: bold;
	line-height: 55px;
	font-family: "Roboto", "Arial", "sans-serif";
	margin: 0 auto;
	padding: 78px 0 108px 235px;
}

h2 {
	font-size: 24px;
	font-weight: bold;
	line-height: 30px;
	font-family: "Roboto", "Arial", "sans-serif";
	margin: 0 0 16px 0;
	text-transform: uppercase;
}

h3 {
	font-size: 18px;
	font-weight: bold;
	line-height: 30px;
	font-family: "Roboto", "Arial", "sans-serif";
	padding: 0;
}

.container {
	width: 1160px;
	margin: 0 auto;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
 }

/*HEADER*/

.page-header {
	margin: 0 0 80px 0;
	background-color: #eeeeee;
}

.page-head {
	margin: 0 0 55px 0;
	background-color: #eeeeee;
}

.content-header {
	min-width: 1160px;
	margin: 0 0 0px 0;
	padding: 0 20px 0 20px;

}

.logo {
	position: relative;
	width: 160px;
	height: 65px;
	float: left;
	margin: 50px 200px 0 0;
}

.logo a {
	position: absolute;
	background-image: url("../img/logo-sprite.png");
    background-repeat: no-repeat;
    display: block;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 161px;
    height: 65px;
    background-position: -10px -10px;
}

.logo a:hover {
	background-image: url("../img/logo-sprite.png");
	width: 161px;
    height: 65px;
    background-position: -10px -95px;
    opacity: 0.8;

}

.logo a:active {
	background-image: url("../img/logo-sprite.png");
	width: 161px;
    height: 65px;
    background-position: -10px -444px;
	opacity: 0.3;
}

.main-menu {
	width: 491px;
	float: left;
	margin: 0;
	padding: 0;
}

.menu {
	font-size: 16px;
	font-weight: normal;
	line-height: 30px;
	font-family: "Roboto", "Arial", "sans-serif";
	margin: 76px 0 0 0;
	padding: 0;
}

.menu li {
    display: inline-block;
    list-style: none;
    margin: 0 44px 0 0;   
}

.menu a {
	color: #000000;
	text-decoration: none;
	text-transform: uppercase;
	padding: 0;
}

.menu-item a {
	margin: 0;
	padding: 0;
}

.menu a:hover {
	color: #cbcbcb;
	
}

.menu a:active {
	color: #fb565a;
}

.basket {
	width: 150px;
	float: right;
	margin: 80px 0 0 0;
}

.basket-btn {
	position: relative;
	color: #000000;
	text-decoration: none;
	text-transform: uppercase;
	margin: 0 0 0 75px;
}

.basket a:hover {
	color: #cbcbcb;
}

.basket a:active {
	color: #fb565a;
}

.basket-btn::after {
	content: " ";
	position: absolute;
	background: url("../img/sprite.png") no-repeat 0px 0px;
	width: 15px;
    height: 15px;
    background-position: -10px -10px;
	top: 2px;
	right: 99px;
}

/*Слайдер*/

.slider-info {
	position: relative;
	width: 1160px;
	height: 432px;
	margin: 0 auto;
}

.slider input[type=radio] {
    position: absolute;
    opacity: 0;
}

.slider-controls {
	position: absolute;
	bottom: 80px;
	width: 220px;
	height: 35px;
	margin: 0 0 0 486px;
	text-align: center;
	z-index:1000;
}

.slider-controls label {
	display: inline-block;
	width: 15px;
	height: 15px;
	margin: 0;
	padding: 0;
	vertical-align: top;
	background: #ffffff;
	border: 2px solid #ffffff;
	border-radius: 50%;
	cursor: pointer;
    
}

.slider-controls label:nth-child(1) {
    margin: 0 -8px 0 5px;
}
.slider-controls label:nth-child(2) {
    margin: 0 13px 0 18px;
}
#btn-1:checked ~ .slider-controls label[for="btn-1"],
#btn-2:checked ~ .slider-controls label[for="btn-2"],
#btn-3:checked ~ .slider-controls label[for="btn-3"] { 
    background-image: radial-gradient(circle 10px at center center,rgb(255, 255, 255) 24.2%,rgb(193, 193, 193) 43.1%,rgb(254, 254, 254) 43.4%);
} 

.slide {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.slide-text {
	width: 380px;
    padding: 30px 0;
	color: #283136;
}

.slide-title {
	font-size: 55px;
	font-weight: bold;
	line-height: 55px;
	font-family: "Roboto", "Arial", "sans-serif";
	margin: 49px 0 0 19px;
	color: #000000;
	width: 520px;
}

.slide-item {
	width: 365px;
	margin: 26px 0 40px 19px;
	font-size: 16px;
	font-weight: normal;
	line-height: 24px;
	font-family: "Roboto", "Arial", "sans-serif";
}

.btn-slide {
    display: block;
    width: 240px;
    padding: 13px 0;
    margin: 25px 0 0 19px;
    font-size: 16px;
    color: white;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    background: #fb565a;
    border-radius: 3px;
}

.btn-slide:hover {
	background-color: #e74246;
}

.btn-slide:active {
	background-color: #d7373b;
	color: #e48789;
}

.slide {
	display: none;
}

.slide:nth-child(1) {
	background: url("../img/slider_1.jpg") no-repeat 105% 2px;
}

.slide:nth-child(2) {
	background: url("../img/slider-2.png") no-repeat 100% 10px;
}

.slide:nth-child(3) {
	background: url("../img/slider-3.png") no-repeat 100% 10px;
}

#btn-1:checked ~ .slides .slide:nth-child(1) { 
    display: block;
}
#btn-2:checked ~ .slides .slide:nth-child(2) { 
    display: block;
}
#btn-3:checked ~ .slides .slide:nth-child(3) { 
    display: block;
}

/*MAIN*/

.page-main {
	margin: 0;
}

.picture-price {
	width: 1140px;
	margin: 0px 0 0px 0;
	border-bottom: 2px solid #eeeeee;
}

.price img {
	margin: 0 0 17px 0;
}

.price {
	width: 300px;
	padding: 0;
	float: left;
	margin: 0 81px 0 19px;
}

.word {
	width: 248px;
	padding: 0;
	margin: 0 0 32px 0;
	text-transform: none;
}

.btn-red,
.btn-green,
.btn-yellow {
	display: block;
	width: 160px;
	margin: 0 0 80px 0;
	padding: 13px 0;
    font-size: 16px;
    color: white;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
   /* background: #fb565a;*/
    border-radius: 3px;
}

.btn-red { 
	background-color: #fb565a; 
}

a.btn-red:hover {
	background-color: #e74246;
}

a.btn-red:active {
	background-color: #d7373b;
	color: #e48789;
}

.btn-green {
    background-color: #00ca74;
}

a.btn-green:hover {
    background-color: #00bc6c;
}

a.btn-green:active {
    background-color: #00aa62;
    color: #74c69c;
}

.btn-yellow {
    background-color: #efc84a;
}

a.btn-yellow:hover {
    background-color: #eab534;
}

a.btn-yellow:active {
    background-color: #e5a722;
    color: #edc47f;
}
.price:last-child {
	margin-right: 0;
}

.content-column {
	margin: 0px 0 67px 0;;
}

.column-left {
	width: 670px;
	float: left;
	margin: 73px 0 0px 0;
	padding: 0;
}

.caption {
	width: 680px;
	font-size: 45px;
	font-weight: bold;
	line-height: 45px;
	font-family: "Roboto", "Arial", "sans-serif";
	padding: 0;
	margin: 0 0 35px 19px;
}

.left {
	font-size: 16px;
	font-weight: normal;
	line-height: 24px;
	font-family: "Roboto", "Arial", "sans-serif";
    width: 625px;
	margin: 0 0 36px 19px;
   
}

.column-left h3 {
	margin: 0 0 0 19px;
}
.development {
	padding: 0 0 0 15px;
	margin: 0 0 0 40px;
	list-style: none;
}

.development li {
     padding: 23px 0 0 0;
     position: relative;
}

.development li::before {
	content: "";
	position: absolute;
	width: 25px;
	height: 2px;
	top: 35px;
	left: -24px;
	transform: translate(-50%, -50%);
    background-color: red;
}

.hyphen li::before {
    content: "";
	position: relative;
	width: 25px;
	height: 2px;
	top: 52px;
	left: -9px;
	transform: translate(-50%, -50%);
    background-color: red;
}

.column-right {
	width: 360px;
	float: right;
	margin: 40px 0 0px 0;
	padding: 0;
}

.logo-color {
	 padding: 0;
	 margin: 0 0 60px 20px;
}

p.tagline {
	font-size: 16px;
	font-weight: bold;
	line-height: 24px;
	font-family: "Roboto", "Arial", "sans-serif";
	text-transform: uppercase;
	margin: 30px -20px 0 0;
	text-align: center;

}

.call-item {
	width: 115px;
	display: inline-block;
	vertical-align: middle;
	margin: 0;
	padding: 0;
	position: relative;
}

.call {
	font-size: 45px;
	font-weight: bold;
	line-height: 10px;
	font-family: "Roboto", "Arial", "sans-serif";
	padding: 0;
	margin: 0 0 31px 19px;
	display: block;
}

.call::after {
	content: " ";
	position: absolute;
	top: -15px;
	bottom: 0;
	background-image: url("../img/sprite.png");
    background-repeat: no-repeat;
    width: 18px;
    height: 20px;
    background-position: -10px -127px;
}

.call:nth-child(3) {
	margin: 0;
}

span {
	font-size: 16px;
	font-weight: normal;
	line-height: 18px;
	font-family: "Roboto", "Arial", "sans-serif";
    padding: 0;
    display: block;
    margin: 0 0 0 19px;

}

.page-article {
	padding: 0;
	margin: 0 0 78px 0;
}

.block-image {
	width: 1160px;
	padding: 82px 29px 34px 4px;
	border-top: 2px solid #eeeeee;
	border-bottom: 2px solid #eeeeee;
}

.image {
	position: relative;
	width: 210px;
	display: inline-block;
	vertical-align: middle;
}

.image-Academy a {
	position: absolute;
	background-image: url("../img/logo-sprite.png");
    background-repeat: no-repeat;
    display: block;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 199px;
    height: 68px;
    background-position: -10px -180px;
    z-index: 1;
}

.image-Academy a:hover {
	width: 199px;
    height: 68px;
    background-position: -10px -268px;
    z-index: 10;
}

.image-Academy a:active {
	width: 199px;
    height: 68px;
    background-position: -10px -356px;
    z-index: 200;
}

.image-Borodinski a {
	position: absolute;
	background-image: url("../img/logo-sprite.png");
    background-repeat: no-repeat;
    display: block;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
    width: 209px;
    height: 87px;
    background-position: -10px -529px;
    z-index: 1;
}

.image-Borodinski a:hover {
	width: 209px;
    height: 90px;
    background-position: -10px -636px;
}

.image-Borodinski a:active {
	width: 209px;
    height: 87px;
    background-position: -10px -746px;

}

.image-Pink a {
	position: absolute;
	background-image: url("../img/logo-sprite.png");
    background-repeat: no-repeat;
    display: block;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
    width: 185px;
    height: 52px;
    background-position: -10px -853px;
    z-index: 1;
}

.image-Pink a:hover {
	 width: 185px;
    height: 52px;
    background-position: -10px -925px;
}

.image-Pink a:active {
	width: 185px;
    height: 52px;
    background-position: -10px -997px;
}

.image-Mishka a {
	position: absolute;
	background-image: url("../img/logo-sprite.png");
    background-repeat: no-repeat;
    display: block;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
    width: 173px;
    height: 84px;
    background-position: -10px -1277px;
    z-index: 1;
}

.image-Mishka a:hover{
	width: 173px;
    height: 84px;
    background-position: -10px -1069px;
	
}

.image-Mishka a:active{
	width: 173px;
    height: 84px;
    background-position: -10px -1173px;
}

.image:first-child {
	margin: 0;
    padding: 0 81px 0 0;
}

.image:last-child {
	margin: 0;
    padding: 0 0 0 93px;
}

.image:nth-child(2) {
    margin: 0;
    padding: 0 97px 0 0;
}

.image:nth-child(3) {
	margin: 0;
    padding: 0;
}

.interactive-map {
    margin: 57px 0 0 0 ;
    padding: 0;
    position: relative;
}

.map-form {
    display: block;
	position: relative;
}

.form-write {
     width: 220px;
     min-height: 210px;
     background-color: #ffffff;
     position: absolute;
     top: 54px;
     left: 121px;
     display: block;
     vertical-align: middle;
     text-align: center;
     padding: 50px  44px 50px 50px;
}

.head {
	font-size: 18px;
	font-weight: bold;
	line-height: 30px;
	font-family: "Roboto", "Arial", "sans-serif";
    text-transform: uppercase;
    margin: 0 0 23px -41px;
    padding: 0;
}

.address {
	margin: 0 0 15px -33px;
	padding: 0;
	font-size: 16px;
	font-weight: normal;
	line-height: 18px;
	font-family: "Roboto", "Arial", "sans-serif";
	color: #989898;
}

a.phone {
	color: #989898;
	text-decoration: none;
	margin: 0 0 0 -28px;
	padding: 0 27px 0 0;
}

.btn-item {
	display: block;
    width: 220px;
    padding: 12px 0 12px 0;
    margin: 35px 0 0 -7px;
    font-size: 16px;
    color: white;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    background: #fb565a;
    border-radius: 3px;
}

a.btn-item:hover {
	background-color: #e74246;
}

a.btn-item:active{
	background-color: #d7373b;
	color: #e48789;
}

/*main 2 ctr*/

.headlines {
	font-size: 18px;
	font-weight: bold;
	line-height: 30px;
	font-family: "Roboto", "Arial", "sans-serif";
	text-transform: uppercase;
	margin: -3px 0 0 2px;
}

.price-range {
    margin: 0;
}
 
.headlines-item,
.headlines-part, 
.headlines-part_two {
	font-size: 18px;
	font-weight: bold;
	line-height: 30px;
	font-family: "Roboto", "Arial", "sans-serif";
    text-transform: uppercase;
    margin: 0 0 49px 0;
}

.headlines-item {
	margin: 0 0 49px 0;
}

.headlines-part {
    margin: 0;
}

.headlines-part_two {
     margin: 0 0 14px 0;
}

.choice-form {
	width: 300px;
	margin: 0 0 47px 0;
	float: left;
}

form {
	width: 300px;
	padding: 0 20px;
	margin: 0;
}

.range-filter {
	width: 260px;
}

.range-controls {
	position: relative;
	height: 80px;
	margin: 0;
	padding: 0 20px;
	background-color: #eeeeee;
	border-radius: 5px;
	overflow: hidden;
}

.range-controls .scale {
	height: 2px;
	background-color: #d7dcde;
	margin: 39px 0 0 0;
}

.range-controls .bar {
	height: 2px;
	background-color: #00ca74;
}

.range-controls .toggle {
	position: absolute;
	top:30px;
	left: 20px;
	width: 4px;
	height: 4px;
	border: 8px solid white;
	background-color: #ababab;
	border-radius: 50%;
	cursor: pointer;
	box-shadow: 0 2px 1px 0 #cfcfcf;
}

.range-controls .min-toggle {
	left: 17px;
}

.range-controls .max-toggle {
	left: 159px;
}

.price-controls input {
	width: 60px;
	padding: 9px 10px;
	margin: 12px 0 60px 12px;
	border: none;
	background-color: #eeeeee;
	font-size: 16px;
	font-weight: normal;
	line-height: 22px;
	font-style: normal;
	font-family: "Roboto", "Arial", "sans-serif";
	color: #283136;
	text-align: center;
	border-radius: 5px;
}

.price-controls .min-price {
	margin: 0 39px 0 0;
}

.price-controls {
    margin: 0 0 -7px 0;
}

.variations-meshes,
.features {
	width: 260px;
	padding: 0;
}

.variations-meshes {
    margin: 0 0 44px 0;
}

.features {
    margin: 0 0 53px 0;
}

input[type="radio"] {
    display: none;
}

input[type="radio"] + label {
	display: block;
	position: relative;
	margin: 15px 0 0 0;
	padding: 0 0 0 35px;
	cursor: pointer;
}

input[type="radio"] + label::before {
	content: "";
	display: block;
	width: 20px;
	height: 20px;
	position: absolute;
	top: 0;
	left: 0;
	border: 2px solid #b8b8b8;
	background-color: #ffffff;
	border-radius: 50%;
}

input[type="radio"]:hover {
    border: 2px solid #4d4d4d;
	background-color: #ffffff;
}

input[type="radio"] + label:hover::before {
	content: "";
	display: block;
	width: 20px;
	height: 20px;
	position: absolute;
	top: 0;
	left: 0;
	border: 2px solid #4d4d4d;
	background-color: #ffffff;
	border-radius: 50%;
}

input[type="radio"]:checked + label::after {
	content: "";
	display: block;
	width: 10px;
	height: 10px;
	position: absolute;
	top: 7px;
	left: 7px;
	background-color: #b8b8b8;
	border-radius: 50%;
}

input[type="radio"]:checked:hover {
	background-color: #4d4d4d;
	border-radius: 50%;
}

input[type="radio"]:checked + label:hover::after {
	content: "";
	display: block;
	width: 10px;
	height: 10px;
	position: absolute;
	top: 7px;
	left: 7px;
	background-color: #4d4d4d;
	border-radius: 50%;
}

/*input[type="radio"]:last-child:disabled {
    background-color: #ededed;
	border-radius: 50%;
	border: 2px solid #ededed;
}*/

/*input[type="radio"] + label::after {
	content: "";
	display: block;
	width: 10px;
	height: 10px;
	position: absolute;
	top: 7px;
	left: 7px;
	background-color: #ededed;
	border-radius: 50%;
}*/

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"] + label {
	display: block;
	position: relative;
	margin: 15px 0 0px 0;
	padding: 0 0 0 35px;
	cursor: pointer;
}

input[type="checkbox"] + label::before {
	content: "";
	display: block;
	width: 20px;
	height: 20px;
	position: absolute;
	top: 0;
	left: 0;
	border: 2px solid #b8b8b8;
	background-color: #ffffff;
	border-radius: 5px;
	z-index: 10;
}

input[type="checkbox"]:checked + label::after {
	content: "";
	position: absolute;
	top: 0px;
	left: 0px;
	width: 27px;
    height: 23px;
    display: block;
    background: url("../img/sprite.png") no-repeat -10px -84px;
    opacity: 0.4;
    z-index: 50;
}

input[type="checkbox"]:checked + label:disabled {
    opacity: 0.1;
}

input[type="checkbox"] + label:hover::after {
	content: "";
	position: absolute;
	top: 0px;
	left: 0px;
	width: 27px;
    height: 23px;
    display: block;
    background: url("../img/sprite.png") no-repeat -10px -84px;
    z-index: 100;
}

.btn-form {
	display: block;
    width: 260px;
    min-height: 30px;
    padding: 12px 0 13px 0;
    margin: 0;
    font-size: 16px;
	font-weight: bold;
	line-height: 18px;
	font-family: "Roboto", "Arial", "sans-serif";
    color: #000000;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    background-color: #eeeeee;
    border-color:  3px solid #eeeeee;
}

.btn-form:hover {
    background-color: #dfdfdf;
}

.btn-form:active {
    background-color: #d5d5d5;
    color: #a9a9a9;
}

.template-selection {
	width: 760px;
	float: right;
	margin: 0 -18px 0 0;
}

.template {
	position: relative;
	width: 358px;
	border: 1px solid #eeeeee;
	margin: 0 0 36px 0;
	border-radius: 2px;
	cursor: pointer;
}

.template:hover {
	box-shadow: 0 10px 15px #4d4d4d;
}

.template:hover .selection {
	left: 0;
}

.template:hover .template-menu {
	background-color: #4d4d4d;
}

.template-left {
	width: 360px;
	margin: 0;
	padding: 0;
	float: left;
}

.sort-templates {
    margin: 0 0 49px 0;
}

.template-menu {
	width: 100%;
	height: 40px;
    padding: 5px;
    box-sizing: border-box;
	background-color: #e9e9e9;
	margin: 0;
}

.template-menu ul {
	margin: 9px 0 0 12px;
	padding: 0;
}

.template-menu li {
	display: inline-block;
	width: 15px;
	height: 15px;
	margin: 0 0 0 3px;
	vertical-align: top;
	background-color: #ffffff;
	border-radius: 50%;
	
}

.headlines-sort {
	width: 360px;
	margin: 2px 0 -5px 0;
}

.headlines-menu {
	width: 273px;
	margin: 0 0 59px 0;
	padding: 0;
	font-size: 14px;
	font-weight: normal;
	line-height: 18px;
	font-family: "Roboto", "Arial", "sans-serif";
	float: left;
}

.headlines-menu li {
    display: inline-block;
    vertical-align: top;
    list-style: none;
    padding: 0;
    margin: 3px 23px 0 0;
	color: #cacaca;
}

.headlines-menu li:last-child {
	margin: 3px 0 0 0;
	padding: 0;
}

.headlines-menu li a{
	margin: 0;
	padding: 0;
}

.first-link {
	  color: #000000;
}

.headlines-menu li:hover {
    color: #8d8d8d;
}

.headlines-menu li:active {
    color: #000000;
}

.search-menu {
	width: 50px;
	float: right;
	margin: 0;
	padding: 0;
	list-style: none;
}

.search-menu li {
	display: inline-block;
	vertical-align: top;
}

.search-menu li a {
	margin: 0;
	padding: 0;
}

.down a  {  
	width: 10px;
	height: 10px;
    background: transparent;
    border-radius: 1px;
    padding: 0;
    position: relative;
    color: #fff;
}

.down a::after {
	content: ''; 
    position: absolute; 
    right: -22px; 
    top: 7px; 
    border: 5px solid transparent; 
    border-top: 10px solid #000000; 
}

.up a {  
	width: 10px;
	height: 10px;
    background: transparent;
    border-radius: 1px;
    padding: 5px;
    position: relative;
    color: #fff;
}

.up a::after {
    content: ''; 
    position: absolute; 
    right: -47px; 
    top: 0px; 
    border: 5px solid transparent;	
    border-bottom: 10px solid #cccccc;
}

.price,
.sort,
li a {
	text-transform: uppercase;
}

.sort {
	font-size: 18px;
	font-weight: bold;
	line-height: 18px;
	font-family: "Roboto", "Arial", "sans-serif";
	margin: 0;
	padding: 0;
}

li a {
	padding-right: 17px;
	color: #b2b2b2;
	text-decoration: none;
}

li a:hover {
	color: #000000;
}

.template-img {
	width: 360px;
	height: 576px;
	margin: 0;
	padding: 0;
}

.template-img img {
	width: 100%;
    height: 100%;
	margin: 0;
	padding: 0;
}

.selection {
	position: absolute;
	bottom: 0;
    left: -999999px;
    width: 220px;
	height: 182px;
	background-color: #eeeeee;
	z-index: 1000;
	padding: 23px 70px;
	text-align: center;
}

.selection h3 {
	font-size: 18px;
	font-weight: bold;
	line-height: 30px;
	font-family: "Roboto", "Arial", "sans-serif";
	text-transform: uppercase;
	margin: 0 0 15px 0;

}

.selection .btn {
    display: block;
    width: 200px;
    padding: 13px 0;
    margin: 31px 0 0 8px;
    font-size: 16px;
    color: white;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    background: #fb565a;
    border-radius: 3px;
}

.selection-item  {
	font-size: 16px;
	font-weight: normal;
	line-height: 18px;
	font-family: "Roboto", "Arial", "sans-serif";
	color: #666666;
	margin: 0 0 0 0;
	padding: 0;
	width: 190px;
}

.template-right {
	width: 360px;
	margin: 0;
	padding: 0;
	float: right;
}

.paginator {
	width: 600px;
	margin: 20px 0 0 0;
	padding: 0;
	display: inline-block;
	vertical-align: middle;
}

.paginator .btn {
    min-width: 46px;
	padding: 12px 0 12px  0;
	margin: 0 6px 0 0;
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
	font-weight: bold;
	line-height: 18px;
	border-radius: 2px;
	background-color: #eeeeee;
	border: 3px solid #eeeeee;
	color: #000000;
}

.btn.one {
	border: 3px solid #dbdbdb;
	background-color: #ffffff;
	color: #000000;
}

.paginator .btn:hover,
.paginator .next:hover {
    background-color: #dfdfdf;
    border: 3px solid #dfdfdf;
}

.paginator .btn:active,
.paginator .next:active {
	border: 3px solid #dbdbdb;
	background-color: #d5d5d5;
	color: #b5b5b5;
}

.paginator .next {
	min-width: 258px;
	padding: 15px 0 15px 0;
	margin: 0 0 0 -3px;
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
	font-weight: bold;
	line-height: 18px;
	border-radius: 2px;
	background-color: #eeeeee;
	border: 3px solid #eeeeee;
	color: #000000;
	text-transform: uppercase;
}

/*FOOTER*/

.page-footer {
	margin: 0;
}

.footer-social {
	min-width: 365px;
	min-height: 100px;
	float: left;
	margin: 63px 0px 65px 0;
}

.social-btn {
	position: relative;
	display: inline-block;
	font-size: 0;
	width: 80px;
    height: 80px;
    vertical-align: middle;
	border-radius: 50px;
    margin: 0 -11px 0 18px;
    background-color: #e1e1e1;
}

.social-vk::after {
	content: "";
    position: absolute;
    top: 33px;
    left: 27px;
    width: 26px;
    height: 15px;
    display: block;
	background: #e1e1e1 url("../img/sprite.png") no-repeat -10px -329px;
}

.social-vk:hover {
    background-color: #e74246;
}

.social-vk:hover::after {
	content: "";
    position: absolute;
    top: 33px;
    left: 27px;
	width: 26px;
    height: 15px;
    display: block;
    background:  #e74246 url("../img/sprite.png") no-repeat -10px -329px;
    
}

.social-vk:active {
    background-color: #d7373b;
}

.social-vk:active::after  {
	content: "";
    position: absolute;
    top: 33px;
    left: 27px;
	width: 26px;
    height: 14px;
    display: block;
    background:  #d7373b url("../img/sprite.png") no-repeat -10px -364px;
}

.social-fb::after {
	content: "";
    position: absolute;
    top: 29px;
    left: 34px;
	width: 12px;
    height: 22px;
    display: block;
    background: #e1e1e1 url("../img/sprite.png") no-repeat -10px -167px;
}

.social-fb:hover {
	background-color: #e74246;
}

.social-fb:hover::after {
	content: "";
    position: absolute;
    top: 29px;
    left: 34px;
    width: 12px;
    height: 22px;
    display: block;
	background: #e74246 url("../img/sprite.png") no-repeat -10px -167px;
}

.social-fb:active {
    background-color: #d7373b;
}

.social-fb:active::after {
	content: "";
    position: absolute;
    top: 29px;
    left: 34px;
	width: 12px;
    height: 22px;
    display: block;
    background: #d7373b url("../img/sprite.png") no-repeat -10px -209px;
	
}

.social-inst::after {
	content: "";
    position: absolute;
    top: 30px;
    left: 30px;
	width: 21px;
    height: 21px;
    display: block;
    background: #e1e1e1 url("../img/sprite.png") no-repeat -10px -249px;
    
}

 .social-inst:hover {
 	background-color: #e74246;
}

.social-inst:hover::after  {
	content: "";
    position: absolute;
    top: 30px;
    left: 30px;
	width: 21px;
    height: 21px;
    display: block;
    background: #e74246 url("../img/sprite.png") no-repeat -10px -249px;
	
}

.social-inst:active {
    background: #d7373b;
}

.social-inst:active::after  {
	content: "";
    position: absolute;
    top: 30px;
    left: 30px;
	width: 19px;
    height: 19px;
    display: block;
    background-position: -10px -247px;
    background: #d7373b url("../img/sprite.png") no-repeat -10px -290px;
}

.footer-slogan {
	display: inline-block;
	width: 575px; 
	float: right;
	margin: 69px 165px 0 0;
}

.slogan {
	font-size: 36px;
	font-weight: bold;
	line-height: 36px;
	font-family: "Roboto", "Arial", "sans-serif";
	margin: 0;
}

.slogan-mini {
	font-size: 16px;
	font-weight: normal;
	line-height: 22px;
	font-family: "Roboto", "Arial", "sans-serif";
	margin: 10px 0 0 0;
}

/* Всплывающая форма */

.modal-content {
	width: 760px;
	height: 440px;
	position: absolute;
	bottom: 0;
	left: 0;
	margin: 0 0 180px 240px;
	padding: 70px 100px 80px 100px;
	color: #000000;
	background-color: #ffffff;
	box-shadow: 0px 20px 60px rgba(0, 0, 0, 0.5);
	z-index: 1000;
	display: none;
}

.modal-content-show {
    display: block;
    animation: bounce 0.6s;
}

.modal-error {
  animation: shake 0.6s;
}

.modal-content-close {
    position: absolute;
	top: 70px;
	right: 70px;
	width: 22px;
	height: 22px;
    background-color: transparent;
    font-size: 0px;
    cursor: pointer;
    border: 0;
}

.modal-content-close::before,
.modal-content-close::after {
	content: "";
    position: absolute;
    top: 10px;
    left: 2px;
    width: 24px;
    height: 4px;
    background-color: #fecccd;
    border-radius: 1px;
}

.modal-content-close:hover::before,
.modal-content-close:hover::after {
	content: "";
    position: absolute;
    top: 10px;
    left: 2px;
    width: 24px;
    height: 4px;
    background-color: #fb565a;
    border-radius: 1px;
}

.modal-content-close:disabled::before,
.modal-content-close:disabled::after {
	content: "";
    position: absolute;
    top: 10px;
    left: 2px;
    width: 24px;
    height: 4px;
    background-color: #fb565a;
    border-radius: 1px;
}

.modal-content-close::before {
	transform: rotate(45deg);
}

.modal-content-close::after {
	transform: rotate(-45deg);
}

.modal-content-title {
	font-size: 45px;
	font-weight: normal;
	line-height: 45px;
	font-family: "Roboto", "Arial", "sans-serif";
	margin: 0 0 50px 0;
}

.write-form {
	width: 100%;
    margin: 0 auto;
}

.write-form label {
    display: block;
    margin-bottom: 5px;
}
 .write-form input {
    height: 50px;
}

.write-form input,
textarea {
    width: 95%;
    margin: 0 0 35px 0;
    padding: 2px 5px;
    border: 1px solid #cccccc;
    border-radius: 3px;
    vertical-align: middle;
}

textarea {
	 margin: 0 0 50px 0;
}

.write-form input:hover,
textarea:hover {
    border: 1px solid #b4b9bb;
    color:  #b4b9bb;
}

.write-form input:active,
textarea:active {
    border: 1px solid #000000;
    color:  #000000;
}

.write-form input:invalid,
textarea:invalid {
    border: 1px solid #e74246;
    color:  #e74246;
}

.half-width {
    width: 45%;
    display: inline-block;
    margin: 0;
}

.half-width:nth-child(1) {
	margin: 0 40px 0 0;
}

button.btn  {
	display: block;
    width: 260px;
    padding: 10px 0;
    margin-top: 25px;
    font-size: 16px;
    color: white;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    background: #fb565a;
    border-radius: 3px;
} 

/* Всплывающая форма */

@keyframes bounce {
  0%   {
    transform: translateY(-2000px);
  }
  70%  {
    transform: translateY(30px);
  }
  90%  {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes shake {
  0%, 100% {
    transform: translateX(0);
  }
  10%, 30%, 50%, 70%, 90% {
    transform: translateX(-10px);
  }
  20%, 40%, 60%, 80% {
    transform: translateX(10px);
  }
}

/*sprite*/

.sprite {
    background-image: url("/img/sprite.png");
    background-repeat: no-repeat;
    display: block;
}

.sprite-cart-icon {
    width: 15px;
    height: 15px;
    background-position: -10px -10px;
}

.sprite-checkbox-on {
    width: 23px;
    height: 19px;
    background-position: -10px -45px;
}

.sprite-chekbox-one {
    width: 27px;
    height: 23px;
    background-position: -10px -84px;
}

.sprite-percent {
    width: 18px;
    height: 20px;
    background-position: -10px -127px;
}

.sprite-social-fb {
    width: 12px;
    height: 22px;
    background-position: -10px -167px;
}

.sprite-social-fb-color {
    width: 10px;
    height: 20px;
    background-position: -10px -209px;
}

.sprite-social-inst {
    width: 21px;
    height: 21px;
    background-position: -10px -249px;
}

.sprite-social-inst-color {
    width: 19px;
    height: 19px;
    background-position: -10px -290px;
}

.sprite-social-vk {
    width: 26px;
    height: 15px;
    background-position: -10px -329px;
}

.sprite-social-vk-color {
    width: 26px;
    height: 14px;
    background-position: -10px -364px;
}