html,
body {
    margin: 0;
    padding: 0;
}
body {
	color: #000000;
	font-size: 16px;
	font-weight: normal;
	line-height: 30px;
	font-family: "Roboto", "Arial", serif;
}
h1 {
	font-size: 55px;
	line-height: 55px;
}
h2 {
	font-size: 24px;
	line-height: 30px;
}
h3 {
	font-size: 16px;
	line-height: 24px;
	margin: 0;
	padding: 0;
}

.container {
	width: 1160px;
	margin: 0 auto;
	/*padding: 0 10px;*/
}
.clearfix::after {
  content: "";

  display: block;
  clear: both;
 /* height: 20px;
  background-color: white;
  background-image: linear-gradient(-45deg, white 45%, black 50%, white 55%);
  background-size: 20px;*/
}

/*HEADER*/

.page-header {
	margin:0 auto;
	padding: 0;
	background-color: #eeeeee;
	margin-bottom: 80px;
}

.logo {
	width: 160px;
	height: 65px;
	float: left;
	margin-top: 50px;
	margin-right: 200px;
}

nav.main-menu {
	width: 440px;
	float: left;
	margin: 0;
	padding: 0;
	font-size: 0;
	
}

ul.menu {
	margin-top: 80px;
	padding: 0;
	font: normal 16px/30px "Roboto", "Arial", serif;
}
ul.menu li {
    display: inline-block;
    list-style: none;
    padding: 0 32px 0 0;   /*надо 45px*/


}

ul.menu a {
	
	color: #000000;
	text-decoration: none;
	text-transform: uppercase;
	
	 
}

a.menu-item {
	margin: 0;
	padding: 0;

}
.basket {
	width: 150px;
	float: right;
	margin-top: 75px;
}

.basket a {
	color: #000000;
	text-decoration: none;
	text-transform: uppercase;
}

.slider-info{
	width: 1160px;
    margin: 0px;
    padding: 0px;
    padding-top: 192px;

}
.info {
	 width: 380px;
	 float: left;
	 margin: 0;
	padding: 0;
	padding-right: 20px;
}

.info-item {
	display: none;
}

.slider {
	float: right; 
	width: 760px;
	height: 431px;
	margin: 0;
	padding: 0;
	background-image: url("img/slider-2.png");
	background-size: 100%;
}

h1 {
	width: 380px;
	margin: 0;
	padding: 0;
}

/*MAIN*/

main.page-main {
	margin-bottom: 80px;
}

section.picture-price {
	width: 1140px;
	margin: auto;
}

img {
	padding: 0;
	margin: 0;
	padding-bottom: 15px;
}
.price {
	width: 300px;
	margin: 0;
	padding: 0;
	float: left;
	margin-right: 100px;
	margin-bottom: 80px;

}
.price:last-child {
	margin-right: 0;

}

h2 {
	margin: 0;
	padding: 0;
	text-transform: uppercase;
}
p {
	margin: 0;
	padding: 0;
}
div.column-left {
	width: 660px;
	float: left;
}

p.caption {
	font: bold 45px/45px "Roboto", "Arial", serif;
	padding-bottom: 38px;
}

.development li,
p.left
{
     font: normal 16px/24px ;

}

p.left {
	padding-bottom: 45px;
}
.development li{
	list-style: none;
}

.development li::before {
	content: " - ";
	position: relative;
	color: red;
}

.column-right {
	width: 360px;
	float: right;
}

p.tagline {
	font: bold 16px/24px "Roboto", "Arial", serif;
	text-transform: uppercase;
	margin: 0 auto;
	paddig: 0;
	padding-bottom: 50px;

}
.call-item {
	width: 110px;
	display: inline-block;
}
p.call {
	font: bold 45px/10px "Roboto", "Arial", serif;
	padding-bottom: 25px;

}

span {
     font: normal 16px/18px "Roboto", "Arial", serif;
}
div.call {
	width: 100px;
	display: inline-block;
	margin-right: 20px;
}

div.call:last-child {
	margin-right: 0;
}

div.block-image {
	width: 1160px;
	margin: 0 auto;
	margin-bottom: 85px;
	border-top: 2px solid #eeeeee;
	border-bottom: 2px solid #eeeeee;
}

div.image {
	width: 210px;
	display: inline-block;
	vertical-align: middle;
    margin: 45px 90px 45px 0px;
}

div.image:first-child {
	margin-left: 30px;
	
}

div.image:last-child {
	margin-right: 0px;
}

/*FOOTER*/

footer.page-footer {
	margin-top: 70px;
	
	padding-bottom: 65px;
}

div.footer-social {
	width: 290px;
	float: left;
	padding-right: 125px;

}

div.footer-slogan {
	width:575px; 
	float: left;

}

p.slogan {
	font-size: 36px;
	font-weight: bold;
	line-height: 36px;
}

p.slogan-mini {
	font-size: 16px;
	font-weight: normal;
	line-height: 22px;
 
}
